*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0.5rem;
    background-image: url('./images/bg-pattern.svg');
    background-repeat: no-repeat;
    width:100%;
   
 
   
    
}
p{
    color:red;
}
.top{
   
    width:60%;
    height:15rem;
    border:1px solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.top h1, .top h2{
    z-index: 2;
}
.pattern{
    position: absolute;
    z-index: 1;
}
.bottom{
    margin-top: 4rem;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap:4rem;


}
.bottomt{
    width: 100%;
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    
}
.bottomtt{
    width:80%;
    display: flex;
    justify-content: space-between;
}
.bottomb{
    display: flex;
    justify-content: space-around;
    gap:0.5rem;
    
}
.slider{
    width:70%;
    border:1px solid;  
}
input{
    width: 100%;
}
.toggle{
    width:20%;
    display: flex;
    justify-content: space-between;
}
#togglerange{
    width:10%;
    
}
.subscription{
    border: 1px solid;
    width:60%;
    display: flex;
    justify-content:space-evenly;
   
    align-items: center;
}
ul{
    list-style: none;
    
}
li{
    margin-bottom: 0.5rem;
}
.pageviews{
    display: flex;
}